body{
	background-color: white;
}

#titol{
	margin: 10px auto;
	display: block;
	text-align: center;
}

#titol h1{
	color:#343477;
	font-family: 'Lobster', cursive;
	font-size: 50px;
}


#sketch{
	height: 600px;
	width: 600px;
	margin: 0 auto;
	border-color: #595998;
	border-style: solid;
	border-width: 5px;
	background-color: #C8C8E3;
}

.unmarkedPixel{
	display: block;
	margin: 0 auto;
	background-color: white;
	float: left;
}

.markedPixel{
	display: block;
	margin: 0 auto;
	background-color: #8080B3;
	float: left;
}

#btnReset{
	margin:20px auto;
	height: 50px;
	width: 100px;
	background-color: #8080B3;
	border-radius: 10px;
	text-align: center;
}
#btnReset a{
	display: block;
	position: relative;
	top: 50%;
 	transform: translateY(-50%);
	text-decoration: none;
	margin:0 auto;
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 25px;
}
#inputGrid{
	display: block;
	margin: 10px auto;
	font-family: 'Lobster', cursive;
	font-size: 15px;
	padding: 10px;
	text-align: center;
}